@model IEnumerable<PFmyschool.Models.Escuelas>
@{
    ViewData["Title"] = "Menu";
}
<html>
<link rel="stylesheet" href="~/css/MenuStyle.css">
<script src="~/js/cargar.js"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
<!-- BOOTSTRAP JAVASCRIPT -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>

<body id="demo-textarea" class="hidden" style="background-color:#ffffff">

    <div class="centradogx" id="onload">
        <div class="lds-default">

            <div></div>

            <div></div>

            <div></div>

            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>

    <br></br>



    <div class="containerGH">
        <div class="divfiltrado">
            <div id="filt" class="btn-group">
                <div class="dropdown">
                    <select id="Sl_Ubi" class="btn btn-secondary dropdown-toggle" data-placeholder="Municipio">
                        <ul class="dropdown-menu dropdown-menu-dark">
                            <li>
                        <option class="dropdown-item">Municipio</option></li>
                        <li>
                        <option class="dropdown-item">Benito Juarez</option></li>
                        <li>
                        <option class="dropdown-item">Felipe carrillo puerto</option></li>
                        <li>
                        <option class="dropdown-item">Othon P. Blanco</option></li>
                        </ul>

                    </select>

                </div>
                <div class="dropdown">
                    <select id="Sl_Nivel" class="btn btn-secondary dropdown-toggle" data-placeholder="Nivel Educativo">
                        <ul class="dropdown-menu dropdown-menu-dark">
                            <li>
                        <option class="dropdown-item">Nivel Educativo</option></li>
                        <li>
                        <option class="dropdown-item">Superior</option></li>
                        <li>
                        <option class="dropdown-item">Media-Superior</option></li>
                        </ul>

                    </select>

                </div>

                <div class="dropdown">
                    <select id="Sl_Sostenimiento" class="btn btn-secondary dropdown-toggle" data-placeholder="Sostenimiento">
                        <ul class="dropdown-menu dropdown-menu-dark">
                            <li>
                        <option class="dropdown-item">Sostenimiento</option></li>
                        <li>
                        <option class="dropdown-item ">Publica</option></li>
                        <li>
                        <option class="dropdown-item">Privada</option></li>
                        </ul>
                    </select>

                </div>

                <div class="dropdown">
                    <select id="Sl_Order" class="btn btn-secondary dropdown-toggle" data-placeholder="Puntuacion Media">
                        <ul class="dropdown-menu dropdown-menu-dark">
                            <li>
                        <option class="dropdown-item">Ordenar de:</option></li>
                        <li>
                        <option class="dropdown-item">Mayor a menor</option></li>
                        <li>
                        <option class="dropdown-item">Menor a mayor</option></li>
                        </ul>
                    </select>

                </div>
                <!-- BOTON DE Filtrar (temporal...)-->
                <button id="btnFiltro" class="filtar-btn"><i class="fa-solid fa-filter"></i>   Filtrar</button>
            </div>
        </div>


        <!--FIN DEL AREA DE FILTROS  -->
        <!-- AREA DE LAS PAGINITAS DE ESCUELAS -->


        <div class="containerMen">
            <div id="contant" class="row row-cols-1 row-cols-md-3 g-4">

                @if (Model.Count() > 0)
                {
                    @foreach (var item in Model)
                    {
                <div id="elemento" class="col">
                    <a asp-action="Informacion" asp-route-id="@item.PkEscuela" class="link">
                        <div class="resul">
                            <img src="@Html.DisplayFor(x => item.ImagEscuela)" class="card-img-top" alt="...">
                            <div class="cardboy">
                                <li class="cardlist"><h1 class="cardtitulo"><i class="fa-solid fa-school-flag"></i>Nombre: </h1><p class="texto"> @Html.DisplayFor(x => item.NomEscuela)</p></li>
                                <li class="cardlist"><h1 class="cardtitulo"><i class="fa-solid fa-location-dot"></i>Ubicación: </h1><p class="texto"> @Html.DisplayFor(x => item.Ubicacion.NombreUbi) / @Html.DisplayFor(x => item.Ubicacion.Localidad.NomLocalidad)</p></li>
                                <li class="cardlist"><h1 class="cardtitulo"><i class="fa-solid fa-up-down"></i>Nivel: </h1><p class="texto">  @Html.DisplayFor(x => item.Nivel.NomNivel)</p></li>
                                <li class="cardlist"><h1 class="cardtitulo"><i class="fa-solid fa-sack-dollar"></i>Sostenimiento: </h1><p class="texto">  @Html.DisplayFor(x => item.Sostenimiento.NomSostenimiento)</p></li>
                                <li class="cardlist"><h1 class="cardtitulo"><i class="fa-solid fa-star"></i>Puntuacion media: </h1><p class="texto">  @Html.DisplayFor(x => item.PuntEscuela) / 5</p></li>
                            </div>
                        </div>
                    </a>
                </div>

                            }
                            }
                            else
                            {
                            <p>No hay registros</p>
                            }
                        
                    </div>
            </div>
    </div>




    <!-- FIN DE AREA DE LAS PAGINITAS DE ESCUELAS -->
    <!-- EL PAGINATION -->

    <div class="pagination justify-content-center">
        <div class="pagination pagination-lg">
            <li class="page-item"><a class="page-link" href="#">Prev</a></li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">4</a></li>
            <li class="page-item"><a class="page-link" href="#">5</a></li>
            <li class="page-item"><a class="page-link" href="#">...</a></li>
            <li class="page-item"><a class="page-link" href="#">Siguiente</a></li>

        </div>
    </div>


</body>

</html>

<script>
    //SCRIPT OBTENER EL ALTO Y ANCHO DE LA PAGINA WEB


    const resize_ob = new ResizeObserver(function (entries) {
        let rect = entries[0].contentRect;


        let width = rect.width;
        let height = rect.height;

        console.log('Current Width : ' + width);
        console.log('Current Height : ' + height);


        if (width < 1366) {
            document.getElementById('contant').className = "row row-cols-1 row-cols-md-2 g-3";
        } else {
            document.getElementById('contant').className = "row row-cols-1 row-cols-md-3 g-3";
        }

        if (width < 970) {
            document.getElementById('contant').className = "row row-cols-1 row-cols-md-2 g-3";
        }


        if (width < 900) {
            document.getElementById('logcort').style.height = '0px';
            document.getElementById('logcort').style.width = '0px';
            document.getElementById('filt').style.display = 'block';
            document.getElementById('filt').style.marginLeft = '5%';
            document.getElementById('filt').style.marginRight = '0';
        } else {
            document.getElementById('logcort').style.height = '35px';
            document.getElementById('logcort').style.width = '190px';
        }

    });

    resize_ob.observe(document.querySelector("#demo-textarea"));







</script>


<script type="text/javascript">
    $(document).ready(function () {

        $("#btnFiltro").click(function () {

            var Ubicacion = $("#Sl_Ubi").val();
            var Nivel = $("#Sl_Nivel").val();
            var Sostenimiento = $("#Sl_Sostenimiento").val();
            var Ordenar = $("#Sl_Order").val();
            var ValorUbi = null;
            var ValorNivel = null;
            var ValorSotenimiento = null;
            var ValorOrder = null;

            //Ubicacion

            if (Ubicacion == "Municipio") {
                Ubicacion = 0;
                ValorUbi = null;
            }
            else {
                Ubicacion = 1;
                ValorUbi = $("#Sl_Ubi").val();
            }
            //Nivel

            if (Nivel == "Nivel Educativo") {
                Nivel = 0;
                ValorNivel = null;
            }
            else {
                Nivel = 1;
                ValorNivel = $("#Sl_Nivel").val();
            }
            //Sostenimiento

            if (Sostenimiento == "Sostenimiento") {
                Sostenimiento = 0;
                ValorSotenimiento = null;
            }
            else {
                Sostenimiento = 1;
                ValorSotenimiento = $("#Sl_Sostenimiento").val();
            }
            //Ordenar

            if (Ordenar == "Puntuacion Media" || Ordenar == "Ordenar de:") {
                Ordenar = 0;
                ValorOrder = null;
            }
            else {             
                if (Ordenar == "Mayor a menor") {
                    ValorOrder = 2;
                } else if (Ordenar == "Menor a mayor"){
                    ValorOrder = 1;
                }
                Ordenar = 1;
            }

            $.ajax({
                url: "/Home/Filtrar",
                type: "POST",
                datos: {
                "ubicacion" : Ubicacion,
                "nivel" : Nivel,
                "sostenimiento" : Sostenimiento,
                "order" : Ordenar,
                "ValorUbicacion" : ValorUbi,
                "ValorNivel" : ValorNivel,
                "valorSostenimiento" : ValorSotenimiento,
                "ValorOrder" : ValorOrder
            },
                dataType: "Html",
                success: function (datos) {
                    alert("Correcto");
                },
                error: function () {
                    alert("Error");
                }
            });





        });


    })
</script>