@model IEnumerable<PFmyschool.Models.Escuelas>


@{
    ViewData["Title"] = "Escuelas Page";
    Layout = "_LayoutDashboard";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" charset="utf-8"></script>
<link rel="stylesheet" href="~/css/sitedashboard.css">

<br />

<div class="row">
    <div class="offset-10 col-3 mb-3">
        <a asp-action="Crear" asp-controller="User" class="btn-success mx-auto btn-lg"> <i class="fa-solid fa-user"></i>Nuevo</a>
    </div>
</div>



<div class="container-fluid">
    <div class="offset-12">
        <div class="card border">
            <div class="card-header bg-dark">
                <h1 class="text-white"><strong>Lista de Escuelas</strong></h1>

            </div>

            <div class="card-body">
                <div class="table-responsive">

                    @if (Model.Count() > 0)
                    {

                        <table class="table table-bordered" id="tblEscuelas" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    @* <th> Id</th>*@
                                    <th> @Html.DisplayNameFor(x => x.NomEscuela)</th>
                                    <th> @Html.DisplayNameFor(x => x.ImagEscuela )</th>
                                    <th> @Html.DisplayNameFor(x => x.DescEscuela )</th>
                                    <th> @Html.DisplayNameFor(x => x.PuntEscuela)</th>
                                    <th> @Html.DisplayNameFor(x => x.LinkEscuela)</th>
                                    <th> @Html.DisplayNameFor(x => x.FkUbicacion )</th>
                                    <th> @Html.DisplayNameFor(x => x.FkSostenimiento)</th>
                                    <th> @Html.DisplayNameFor(x => x.FkNivel)</th>

                                    <th> Acciones</th>
                                </tr>


                            </thead>
                            <tbody>
                                @*@int i =0*@
                                @foreach (var Item in Model)
                                {


                                    <tr>

                                        @*<td>(@i++)</td>*@


                                        <td> @Html.DisplayFor(x => Item.NomEscuela )</td>
                                        <td> <img width="25" src="@Html.DisplayFor(x => Item.ImagEscuela)"> </td>
                                        <td> @Html.DisplayFor(x => Item.DescEscuela)</td>
                                        <th> @Html.DisplayNameFor(x => x.PuntEscuela )</th>
                                        <th> @Html.DisplayNameFor(x => x.LinkEscuela )</th>
                                        <th> @Html.DisplayFor(x => Item.Ubicacion.NombreUbi) / @Html.DisplayFor(x => Item.Ubicacion.Localidad.NomLocalidad)</th>
                                        <td> @Html.DisplayFor(x => Item.Sostenimiento.NomSostenimiento)</td>
                                        <td> @Html.DisplayFor(x => Item.Nivel.NomNivel)</td>


                                        <td>
                                            <a class=" btn btn-warning" asp-route-id=@Item.PkEscuela><i class="fa-solid fa-pen-to-square"></i> Editar</a>
                                            <a class=" btn btn-danger" asp-route-id=@Item.PkEscuela id="Obtener"><i class="fa-solid fa-trash"></i> Eliminar</a>
                                        </td>

                                    </tr>


                                }

                            </tbody>

                        </table>

                    }
                    else
                    {
                        <p>No hay registros</p>
                    }
                </div>

            </div>


        </div>


    </div>




</div>


@section Scripts{

    <script>
        //SCRIPT OBTENER EL ALTO Y ANCHO DE LA PAGINA WEB


        const resize_ob = new ResizeObserver(function (entries) {
            let rect = entries[0].contentRect;


            let width = rect.width;
            let height = rect.height;

            console.log('Current Width : ' + width);
            console.log('Current Height : ' + height);


            if (width < 1599) {
                document.getElementById("lc").style.marginLeft = '30%'
            } else {
                document.getElementById("lc").style.marginLeft = '35%'
            }

        });

        resize_ob.observe(document.querySelector("#demo-textarea"));







    </script>

    <script>
        $(document).ready(function () {
            //Llamar a datatable
            $('#tblEscuelas').DataTable({
                language: {
                    "decimal": "",
                    "emptyTable": "No hay información",
                    "info": "Mostrando _START_ a _END_ de _TOTAL_ Entradas",
                    "infoEmpty": "Mostrando 0 to 0 of 0 Entradas",
                    "infoFiltered": "(Filtrado de _MAX_ total entradas)",
                    "infoPostFix": "",
                    "thousands": ",",
                    "lengthMenu": "Mostrar _MENU_ Entradas",
                    "loadingRecords": "Cargando...",
                    "processing": "Procesando...",
                    "search": "Buscar:",
                    "zeroRecords": "Sin resultados encontrados",
                    "paginate": {
                        "first": "Primero",
                        "last": "Ultimo",
                        "next": "Siguiente",
                        "previous": "Anterior"
                    }
                }
            });

            function GetId(id) {

            }

            var table = $('#tblEscuelas').DataTable();



            $('#tblEscuelas').on('click', 'tr', function () {
                var id = table.row(this).id();

                alert('Clicked row id ' + id);
            });

        });




    </script>

}  